In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('Data\characters.csv')
df

      character species  gender
0         Aldor   Human    Male
1        Anborn   Human    Male
2      Angelica  Hobbit  Female
3        Angbor   Human    Male
4       Aragorn   Human    Male
..          ...     ...     ...
151       Gloin   Dwarf    Male
152     Orophin     Elf    Male
153      Gaffer  Hobbit    Male
154  Tom Cotton  Hobbit    Male
155      Sauron   Ainur    Male

[156 rows x 3 columns]

In [21]:
df['character'].duplicated

<bound method Series.duplicated of 0           Aldor
1          Anborn
2        Angelica
3          Angbor
4         Aragorn
          ...
151         Gloin
152       Orophin
153        Gaffer
154    Tom Cotton
155        Sauron
Name: character, Length: 156, dtype: object>